@page "/"

<PageTitle>Home</PageTitle>

<h1>Wizard</h1>

<FluentWizard>
    <Steps>
        <FluentWizardStep Label="Intro">
            <FluentEditForm Model="IntroModel">
                Intro
            </FluentEditForm>
        </FluentWizardStep>
        <FluentWizardStep Label="Get started" DeferredLoading>
            <FluentEditForm Model="GetStartedModel" OnSubmit="@(() => ShowSubmitMessageAsync("GetStarted"))">
                GetStarted
            </FluentEditForm>
        </FluentWizardStep>
        <FluentWizardStep Label="Set budget">
            <FluentEditForm Model="SetBudgetModel">
                SetBudget
            </FluentEditForm>
        </FluentWizardStep>
    </Steps>
</FluentWizard>